.CarouselButtons{
  max-width: 50px;
}
.CarouselButtons:hover{
  background-color: rgba(0, 0, 0, 0.178);
}
.btn-add-ad {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.MyCollapse {
    display:none;
  }
.MyUncollapse{
    display: block;
  }
  textarea{
    resize: none !important;
    height: auto;
  }
.TextareaEdit{
    overflow-y: auto;
    height: 15rem;
  }
.myMap{
  width:100%;
  height:350em;
}